@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,700;1,500&family=Noto+Sans:ital@0;1&display=swap");

/* Text */

.titel {
  font-family: "Libre Bodoni", serif;
  font-size: 2.5em;
  text-align: center;
  line-height: 1.5em;
  color: #e0d0b2;
  margin-left: 0;
}

.untertitel {
  font-family: "Libre Bodoni", serif;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  color: #e0d0b2;
  margin-left: 0;
}

.ueberschrift {
  font-family: "Libre Bodoni", serif;
  font-size: 30px;
  text-align: left;
  line-height: 20px;
  color: #e0d0b2;
  margin-left: 0;
}

.text {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 25px;
  color: #e0d0b2;
  margin-left: 0;
}

.text_indent {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  text-indent: 25px;
  text-align: left;
  line-height: 25px;
  color: #e0d0b2;
  margin-left: 0;
}

.kursiv {
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: #e0d0b2;
}

.unterstreichung {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: #e0d0b2;
  text-decoration-line: underline;
}

.unterstreichung_doppel {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: #e0d0b2;
  text-decoration-line: underline;
  text-decoration-style: double;
}

::selection {
  background: rgba(113, 114, 175, 0.9);
  color: #333;
}

.aligncenter {
  text-align: center;
}

/* Rahmen */

.square {
  background-color: rgba(113, 114, 175, 0.9);
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.square_hidden {
  /* background-color: rgba(113, 114, 175, 0.9); */
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.square_wide {
  background-color: rgba(113, 114, 175, 0.9);
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Fußnoten */

a {
  color: #c9b6b0;
}

a[data-footnote]:after {
  content: attr(data-footnote);
  /*vertical-align: super;*/
  font-size: 100%;
}

a[data-footnote] {
  text-decoration: none;
  position: relative;
}

a[data-footnote]:hover:before {
  content: attr(data-title);
  display: inline;
  padding: 0.5em;
  background: rgba(50, 50, 50, 0.7);
  color: #fff;
  position: absolute;
  top: -90%;
  left: 110%;
  border-radius: 1px;
  width: 20em;
  font-size: 100%;
  line-height: 20px;
}

/* Back to top */

.back-to-top {
  position: fixed;
  left: 49%;
  bottom: 1rem;
  border-radius: 100%;
  background-color: rgba(113, 114, 175, 0.6);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #e0d0b2;
}
